#wishlist {
    .card-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 150px;
    }

    .product-name {
        font-size: 1.2rem;
        color: rgba(8, 8, 8, 0.58);
    }

    .previous-price {
        text-decoration: line-through;
        font-size: 0.8rem;
    }

    ion-fab-button {
        --background: transparent;
        --background-focused: transparent;
        --background-activated: transparent;
    }
}

.custom-icon{
    border-radius: 50%;
    background-color: blue;
    color: white;
    margin: 2px;
    font-size: larger;
    &:active{
        background-color: cadetblue;
    }
    &.text-danger-custom{
        font-size: large;
        background-color: red;
        color: white;
        &:active{
            background-color: rgb(243, 115, 115);
        }
    }
    &.text-success-custom{
        background-color: rgb(44, 190, 44);
        color: white;
        &:active{
            background-color: rgb(243, 115, 115);
        }
    }
}

.custom-icon-engine{
    background-color: transparent; 
    color: blue;
    border-radius: 50%;
    margin: 2px;
    font-size: larger;
    &:active{
        background-color: lightsalmon ;
    }
}

.input-customer{
    color: rgb(102, 100, 100);
    margin-left: 18px;
    border: none;
    border-bottom: 1px solid black;
   
}