#signin {
    text-align: center;

    .form-sign-in{
        display: inline-block;
        width: 50%;
    }
    @media screen and (max-width: 1024px) {
        .form-sign-in {
            display: inline-block;
            width: 50%;
        }
    }
    @media screen and (max-width: 768px) {
        .form-sign-in {
            width: 70%;
            display: inline-block;

        }
    }
    @media screen and (max-width: 480px) {
        .form-sign-in {
            width: 95%;
            display: inline-block;
        }
    }
    .section_one {
        height: 10%;

        h2 {
            font-weight: 900;
            padding-top: 2%;
        }

        p {
            color: var(--ion-color-color1);
            font-weight: bold;
        }
    }

    .section_two {
        height: 80%;

        img {
            height: 40%;
        }
    }

    .section_three {
        height: 5%;
    }

    a.btn-social,
    .btn-social {
        border-radius: 50%;
        color: #ffffff !important;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin: 8px 4px;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s;
        width: 35px;
    }

    .btn-facebook {
        background-color: #3b5998;
    }

    .btn-google-plus {
        background-color: #dd4b39;
    }

    .btn-instagram {
        background-color: #3f729b;
    }

    .btn-twitter {
        background-color: #55acee;
    }

}

