#deal {
    ion-fab-button {
        --background: transparent;
        --background-focused: transparent;
        --background-activated: transparent;
    }

    ion-card-title {
        font-size: 1.2rem;
    }
}

.label-custom{
    font-weight: bold;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-customer{
    
    color: rgb(102, 100, 100);
    margin-left: 18px;
    border: none;
    border-bottom: 1px solid black;
    
}

.custom-icon{
    border-radius: 12%;
    background-color: blue;
    color: white;
    margin: 2px;
    font-size: larger;
    &:active{
        background-color: cadetblue;
    }
}